@import "../../vars";
// ====================================================================

.footer {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 50px 0;

		@media (max-width: 768px) {
			justify-content: center;
		}
	}

	&__box {
		flex-wrap: wrap;
		display: flex;
		align-items: center;
		gap: 20px;

		@media (max-width: 425px) {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			justify-content: center;
		}

		a {
			transition: all 0.3s linear;
			@media (min-width: 768px) {
				&:hover {
					color: $textColor;
				}
			}

			&:active {
				color: darken($color: $textColor, $amount: 20);
			}
		}
	}

	&__info {
		font-family: "Open Sans";
		font-weight: 400;
		font-size: 13px;
		line-height: 28px;
		color: #666666;
	}
}

// ====================================================================
