@import "rem";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Playfair+Display&display=swap");
// =======================================================================================================================

body {
	// background: rgba(0, 0, 0, 0.5);
	// color: rgba(0, 0, 0, 0.2);
}

// =======================================================================================================================

.decor-title {
	font-family: "Playfair Display";
	font-weight: 400;
	font-size: 140px;
	line-height: 154px;
	text-align: center;
}

// =======================================================================================================================
// =======================================================================================================================
