@import "rem";
@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Playfair+Display&display=swap");

// =======================================================================================================================

body {
	background: #000;
	color: $textColor;

	&.lock {
		overflow: hidden;
	}
}
a {
	display: inline-block;
	color: $textColor;
}

// =======================================================================================================================

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	> main {
		flex: 1 1 100%;
	}
}

.container {
	max-width: 1370px;
	padding: 0 15px;
	margin: 0 auto;
}

.start {
	padding: 100px 0;
	text-align: center;
	font-family: "Playfair Display";
	font-weight: 400;

	&__title {
		// font-size: 50px;
		font-size: calc(25px + (50 - 25) * ((100vw - 320px) / ($container - 320)));
		line-height: calc(
			30px + (70 - 30) * ((100vw - 320px) / ($container - 320))
		);

		margin-bottom: 5px;
	}
	&__subtitle {
		font-size: calc(18px + (23 - 18) * ((100vw - 320px) / ($container - 320)));
		line-height: 38px;
		margin-bottom: 60px;
	}
	&__btn {
		font-family: "Lato";
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.5px;
		color: #111;
		padding: 9px 29px;
		border: 1px solid #fff;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: #ffffff;
		border-radius: 30px;
		transition: all 0.3s linear;

		@media (min-width: 768px) {
			&:hover {
				background: transparent;
				color: #fff;
				// color: $accentTextColor;
			}
		}

		&:active {
			background: #ccc;
			color: $textColor;
		}
	}
}

// =======================================================================================================================
